body {
  font-family: arial,sans-serif;
  background-color: #4f545c;
}

html, body {
  width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    /* overflow:hidden; */
}

.header {
  background-color: #2f3136;
    color: white;
    padding-left: 25px;
    /* padding-top: 15px; */
    padding-bottom: 10px;
}


.boardOpts {
  padding-left: 25px;
  float: left;
  color: white;
}

.main {
  height: 800px;
  width: 1000px;
  margin: auto;
  display: block;
  margin: 0 auto;
  overflow: scroll;
}

#choose {
  padding-bottom: 10px;
}

#newBoard {
  cursor: pointer;
}

#boardNum {
  font-weight: 900;
  float: right;
  padding-right: 25px;
}

#whiteboard {
  background: whitesmoke; 
  /* /* display: block;  */
  /* margin: 0; */
  border: 1px solid black;
  border-radius: 2%; 
  /* padding-left: -25px; */ 
}